<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			.box {
				width: 100px;
				height: 100px;
				position: absolute;
				top: 10%;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="box">box</div>
		<script>
			document.querySelector('.box').animate(
				[
					// from keyframe
					{
						opacity: 0,
						backgroundColor: '#FFF',
					},
					// to keyframe
					{
						opacity: 1,
						backgroundColor: '#CCC',
					},
				],
				1000
			);
		</script>
	</body>
</html>
