<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title>샘플</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../style/reset.css">
		<link rel="stylesheet" href="2.css" />
		<!-- Web Animations API 미지원 브라우저 대응 Polyfill -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js" defer></script>
		<script src="2.js" defer></script>
	</head>
	<body>
		<div class="container">
			<div class="rect"></div>
		</div>
	</body>
</html>
