nav {
  position: absolute;
  display: flex;
  gap: 2rem;
  max-width: 80%;
  margin: auto;
  z-index: 9999;
  top: 0;
  transition: all 1s;
  left: 0;
  background-color: gray;
}
nav.active {
  position: fixed;
  top: 0;
  background-color: rgba(128, 128, 128, 0);
}
nav.active ul {
  padding: 0rem 8rem;
  border-radius: 50px;
  background-color: rgba(19, 116, 226, 0.5)
}
nav ul {
  display: flex;
  gap: 2rem;
  padding: 0rem 2rem;
  border-radius: 0px;
  transition: all 1s;
}
nav li {
  width: calc(100% / 9);
  height: 10rem;
  line-height: 10rem;
}
nav li a {
  font-size: 1.8rem;
  color: white;
}
nav li a.active {
  color: red;
}