@import url(https://qwerewqwerew.github.io/source/style/reset.css);/* ====================================
 ======= common ======
==================================== */
body { background-color: lightyellow; transition: all 1s; }
/* modify */
.btns_menu { display: flex; }
button { background-color: #9ad7d9; border: transparent; padding: 1rem; display: block; cursor: pointer; }
.btns { position: fixed; width: 100%; margin: auto; z-index: 10; }
.btns .container { position: relative; max-width: 900px; padding: 20px; background-color: transparent; transition: 0.3s; margin: auto; display: flex; justify-content: center; border-radius: 0 0 10px 10px; }
.btns .container.bgshow { padding: 20px; background-color: #9ad7d9; }
.arrow-up { position: fixed; bottom: 50px; right: 50px; width: 70px; height: 70px; color: rgb(255, 255, 255); background-color: rgb(33, 112, 231); border-radius: 50%; text-align: center; opacity: 0; padding: 0; }
.arrow-up span { line-height: 70px; font-size: 30px; }
.arrow-up.visible { opacity: 1; }
section { width: 100%; height: 100vh; padding-top: 88px; }
.wrapper { max-width: 1200px; margin: auto; text-align: center; }
h3 { font-size: 24px; }
section { width: 100%; height: 100vh; padding-top: 88px; }
.wrapper { max-width: 1200px; margin: auto; text-align: center; }
h3 { font-size: 24px; }
.btns_toggle-btn { position: absolute; top: 10px; right: 32px; color: #193f40; transition: 0.3s; display: none; }
.btns_toggle-btn span { font-size: 24px; }
@media screen and (max-width: 700px) { body .btns .container.bgshow { backdrop-filter: blur(10px); background-color: #9ad7d955; /* filter: blur(10px); */}
 .btns.container { background-color: #9accd9; border-radius: 0; padding: 24px; }
 .btns_toggle-btn { display: block; }
 .btns_menu { flex-direction: column; width: 100%; align-items: center; justify-content: center; padding-top: 20px; display: none; }
 .btns_menu.open { display: flex; }
 .btns_menu button { display: block; margin: 10px auto; width: 80%; }
 }
