* {margin: 0;padding: 0; }
a {text-decoration: none; }
/* ====================================
 ======= header ======
==================================== */
header {position: fixed;left: 20px;top: 20px;z-index: 1000;background: pink; }

/* ====================================
 ======= main ======
==================================== */
.horizontal_wrap > .inner {width: 100%;height: 100vh;position: relative;display: flex;align-items: center;justify-content: center; }
.inner h2 {font-size: 5vw;position: absolute;z-index: 99; }
.inner .img_wrap {width: 30%;padding-bottom: 18%;position: relative; }
.inner .img_wrap .img {position: absolute;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center center;background-size: cover; }
.img {background-image: url(https://placedog.net/400x200); }
#sec1,
#sec3,
#sec5 {background-color: pink; }
/* option */
main {/* overflow: hidden; */}

/* ====================================
 ======= sections ======
==================================== */
.horizontal_wrap {display: flex;flex-wrap: nowrap;width: calc(100% + 90% + 70% + 100% + 90% + 170%); }
#sec1 {width: 100%; }
#sec2 {width: 90%; }
#sec3 {width: 70%; }
#sec4 {width: 100%; }
#sec5 {width: 90%; }
#sec6 {width: 170%; }
