#wrapper {
  /* 너비가 같은 컬럼을 3개 반복하는데 너비는 그리드 컨테이너의 너비에 따라 변경된다.
줄높이는 콘텐츠의 양에 따라 조정되며 최소 100을 유지한다
이전예제에서는 100px 을 고정하였기에 내용이 넘칠경우
  */
	width: 600px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows:100px ; /* 줄높이 100px */
	grid-template-rows: minmax(100px, auto); /* 줄높이 최소 100px */
	grid-template-rows: minmax(100px, 200px); /* 줄높이 최소 100px 최대200px*/
	grid-template-rows:repeat(2,1fr) minmax(100px, 200px); /* 1:1*/
}
