@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.8/static/pretendard.css);

/* http://meyerweb.com/eric/tools/css/reset/


 v2.0 | 20110126
 License: none (public domain)
*/
:root {
	/* gray */
	--light10: #ffffff;
	--light20: #fffbff;
	--light30: #fdf8f8;
	--light40: #f4f0ef;
	--light50: #e5e1e1;
	--light60: #c9c6c5;
	--light70: #adaaaa;
	--light80: #939090;
	--light90: #797676;
	--dark10: #605e5e;
	--dark20: #545252;
	--dark30: #484646;
	--dark40: #3c3b3b;
	--dark50: #313030;
	--dark60: #262526;
	--dark70: #1c1b1c;
	--dark80: #111111;
	--dark90: #000000;


}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.pa {
	position: absolute;
}

.pr {
	position: relative;
}

.df {
	display: flex;
}

.dg {
	display: grid;
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

html {
	font-size: 62.5%;
	font-family: 'Pretendard', sans-serif;
}

body {
	font-size: 1.6rem;
	line-height: 1.75;
}

a {
	font-size: 1.6rem;
	text-decoration: none;
}

<<<<<<< HEAD
@media screen and (min-width: 320px) {
	html {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680)) !important;
	}
}

@media screen and (min-width: 1000px) {
	html {
		font-size: 22px !important;
	}
}

html {
	font-size: min(max(1rem, 4vw), 22px);
}

body {
	font-size: clamp(100%, 1rem + 2vw, 24px);
}
=======
>>>>>>> d611815a2589158ebb2fc21d4ca56d5a758397bc
