*{margin: 0; padding: 0;}
.cf:after{content: ""; display: block; clear: both;}
ul, li{list-style: none;}
a{text-decoration: none}

/* 레이아웃 */
#wrap{width: 1200px; margin: 0 auto; box-sizing: border-box;}

/* header */
#header{width: 1200px; height: 100px;  background: #aaa; box-sizing: border-box;}
.logo{float: left; width: 250px; height: 100px; background: #eee;}
.nav{float: right; width: 600px; margin-top: 28px; background: #353526;}
.nav li{float: left; width: 25%; text-align: center; position: relative;}
.nav li a{display: block; padding: 10px; font-size: 20px; color: #fff;}
.nav li a:hover{background: rgba(0,0,0,.4)}
.nav li ul.sub{position: absolute; left: 0; top: 47px; background: #cccccc; display: none; height:188px; }
.nav li ul.sub li{width: 100%;}

/* 슬라이드 */
#banner{width: 1200px; height: 300px;  background: #bbb;}

/* 본문 */
#contents{width: 1200px; height: 200px;  background: #ccc; box-sizing: border-box;}
#contents>div{float: left; width: 400px; height: 200px;}
#contents>div.content1{background: #999;}
#contents>div.content2{background: #888;}
#contents>div.content3{background: #777;}

/* 풋터 */
#footer{width: 1200px; height: 100px;  background: #ddd; box-sizing: border-box;}
.footer1{float: left; width: 200px; height: inherit; background: #666;}
.footer2{float: left; width: 800px; height: inherit; background: #555;}
.footer3{float: left; width: 200px; height: inherit; background: #444;}


