@import url(https://qwerewqwerew.github.io/source/style/reset.css);

body {
  overflow-x: hidden;
}
/*##### Common #####*/
p,
.sc-list li {
  font-size: 1.2rem;
}
.sc-dark-button,
.sc-light-button {
  border-radius: 50px;
  padding: 10px 20px;
}
.sc-dark-button {
  background: var(--theme-primary);
  color: #fff;
  border: 1px solid var(--theme-primary);
}
.sc-dark-button:hover {
  background: #fff;
  color: var(--theme-primary);
}
.sc-light-button {
  background: #fff;
  color: var(--theme-primary);
  border: 1px solid var(--theme-primary);
}
.sc-light-button:hover {
  background: var(--theme-primary);
  color: #fff;
}
.sc-img {
  border-radius: 12px;
  overflow: hidden;
}
.sc-section-heading {
  margin-bottom: 5vh
}
.sc-page-nav {
  position: fixed;
  top: 50%;
  width: 100%;
}
.sc-page-nav span i {
  font-size: 2.5rem;
  color: var(--theme-primary);
}
.sc-page-nav-prev {
  display: inline-block;
  left: 2vw;
  position: absolute;
}
.sc-page-nav-next {
  display: inline-block;
  right: 2vw;
  position: absolute;
}
.sc-page-nav-item {
  display: inline-block;
}
/*####### Header ######*/
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
header nav {
  border-bottom: 1px solid #6670801A;
}
.sc-nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-nav-logo img {
  height: 6vh;
  width: 100%;
}
.sc-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0vw;
}
.sc-nav-menu {
  border: none;
  background: #fff;
}
.sc-nav-menu i {
  font-size: 2rem;
  padding-top: 4px;
}
/*##### Top Nav ####*/
.sc-top-nav {
  padding: 6vh;
}
.sc-top-nav-list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}
.sc-top-nav-list li a {
  color: #000;
  text-decoration: none;
  padding: 0px;
  margin: 0px 15px;
  position: relative;
  font-weight: 600;
  font-size: 0.9vw;
}
.sc-top-nav-list li.active a {
  color: var(--theme-primary);
}
.sc-top-nav-list li.active a::after {
  position: absolute;
  content: "";
  background: var(--theme-primary);
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  border-radius: 80px;
  display: inline-block;
}
/*#### Page Slider ###*/
#scSlideWrapper {
  /* width: 500%; */
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  /* overflow: hidden; */
}
.sc-slide-section {
  /* position: relative; */
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 30vh;
  border: 1px solid red;
}
#scEstimateSection {
  /* width: unset;
    flex: 1 0 auto; */
}
/*####### Estimate Section #######*/
.sc-estimate-card {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0 1vw;
}
.sc-estimate-card-tag {
  display: block;
  margin-left: auto;
  width: fit-content;
  background: #6EB5B2;
  padding: 0.5rem 01rem;
  border-radius: 20px;
  color: #fff;
}
.sc-estimate-card-type {
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: #86357A;
  margin: 0.8rem 0;
  display: inline-block;
  border: 1px solid #86357A;
}
.sc-estimate-card-services p {
  margin: 0;
  font-size: 1.1rem;
}
.sc-estimate-card-services p:nth-child(2) {
  font-weight: 700;
}
.sc-estimate-button {
  max-width: fit-content;
  margin-top: 1.5rem !important;
}
.sc-estimate-card-price p {
  margin: 0;
}
.sc-estimate-card-price {
  margin: 1rem 0;
}
.sc-estimate-card-services {
  margin: 1rem 0;
}
.fix-w {
  width: 800px;
  border: 1px solid blue;
}
#scEstimateSection {
  flex-shrink: 0;
  flex-grow: 1;
  width: unset;
  overflow: visible;
}
#scEstimateSection .container {
  max-width: unset
}
.d-flex>* {
  flex-shrink: 0;
  flex-grow: 1;
}
.sc-slide-section {
  border: solid 2px red;
}