<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>drag</title>

		<link rel="stylesheet" href="7.css" />
		<script src="7-1.js" defer></script>
		<!-- <script src="7-2.js" defer></script>
		<script src="7-3.js" defer></script> -->
	</head>
	<body>
		<!-- 요소	드래그가	가능하도록	draggable	속성을	true로	지정 -->
		<main>
			<div class="ball" draggable="false"></div>
			<div class="box" draggable="false"></div>
		</main>
	</body>
</html>
