* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.nav {
  background: #333;
  position: relative;
  z-index: 999;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.item {
  width: calc(80% / 4);
}

.link {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  background: #555;
}

.mega {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: #eee;
  border-bottom: 1px solid #ddd;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  z-index: 1000;
}

.item:hover .mega,
.item:focus-within .mega,
.item.on .mega {
  max-height: 500px;
}

.row {
  display: flex;
  padding: 20px;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  flex: 1;
}

.col h3 {
  margin-bottom: 10px;
  font-size: 14px;
}

.col ul {
  list-style: none;
}

.col ul li {
  margin-bottom: 5px;
}

.col ul li a {
  color: #333;
  text-decoration: none;
  font-size: 13px;
}

.col ul li a:hover {
  text-decoration: underline;
}

.cnt {
  padding: 50px;
}

section {
  padding: 2vw;
  height: 100vh;
}