* { margin: 0; padding: 0; box-sizing: border-box; }

:root { --bg1: #285dfb; --bg2: #537dfb; --bg3: #7e9efc; --bg4: #a9befd; --bg5: #d4dffe; }

.bg1 { background-color: var(--bg1); color: var(--bg5); }

.bg2 { background-color: var(--bg2); color: var(--bg4); }

.bg3 { background-color: var(--bg3); color: var(--bg3); }

.bg4 { background-color: var(--bg4); color: var(--bg2); }

.bg5 { background-color: var(--bg5); color: var(--bg1); }

section { overflow: hidden; text-align: center; width: 100%; padding-left: 4vw; padding-right: 4vw; height: 100vh; }

section h2 { padding: 6vw; }

.section1 .box { display: inline-block; /* 최소, 최대가 명확한 경우 사용가능 */
 width: clamp(100px, 30%, 100%); height: 300px; transition: all 2s; }

.section1 .box1 { transform: translateX(-200%); }

.section1 .box2 { transform: translateX(200%); }

.section1 .box.in { transform: translateX(-200%); }

.section2 .gallery { margin-top: 10vw; position: relative; display: flex; }

.section2 .gallery .box { width: 15vw; height: 20vw; position: absolute; opacity: 0; top: 100vw; }

.section2 .bg3 { left: 10vw; }

.section2 .bg4 { left: 40vw; }

.section2 .bg5 { right: 10vw; }

.section3 { display: flex; color: #333; gap: 2rem; }

.section3 .item:nth-child(1) { flex-basis: 60%; }

.section3 .item:nth-child(2) { flex-basis: 40%; align-self: center; }

.section3 figure { position: relative; box-shadow: -1rem 1rem 3rem -2rem rgba(0, 0, 0, 0.5); }

.section3 figure:before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: var(--bg1); transition: clip-path 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28); }

.section3 figure img { width: 100%; display: block; clip-path: inset(0 100% 0 0); /* duration 0.6 delay 0.3 */
 transition: clip-path 0.6s 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28); }

.section3 figure figcaption { position: absolute; top: 20px; right: 20px; padding: 10px; font-weight: bold; text-transform: uppercase; color: #fff; background: var(--bg1); mix-blend-mode: difference; transition: clip-path 0.3s 0.9s cubic-bezier(0.18, 0.89, 0.32, 1.28); }

.section3 figure::before,
.section3 figure figcaption { clip-path: inset(0 0 0 100%); }

.section3.is-animated figure::before,
.section3.is-animated figure img,
.section3.is-animated figure figcaption { clip-path: inset(0); }
</style>
<style>
.section4 .container { display: flex; position: relative; }

.pa { position: absolute; top: 0; }

.item { height: 30vw; }

.left { width: 60vw; transition: left 1s ease-in-out; left: -100%; }

.right { width: 40vw; right: 0; }

.is-animated .left { left: 0; }

.left .mockup img,
.left .mockup .mask { position: absolute; top: 0; left: 0; }

.left .mockup.pc { margin-left: clamp(5%, 100px, 10%); position: relative; width: 60%; height: 100%; }

.left .mockup.pc .mask { z-index: 3; width: 32.3vw; height: 61.8%; overflow: hidden; top: 6%; left: 5.2%; }

.left .mockup.pc img.screen { z-index: 1; width: 100%; }

.left .mockup.pc img.device { z-index: 2; width: 100%; }

/* mobile */
.left .mockup.mobile { position: relative; top: -76%; left: 58%; width: 20%; height: 60%; z-index: 99; }

.left .mockup.mobile .mask { z-index: 999; width: 10.5vw; height: 100%; overflow: hidden; top: 10.8%; left: 7%; border-radius: 16px 16px 0 0; }

.left .mockup.mobile img.screen { z-index: 3; width: 100%; }

.left .mockup.mobile img.device { z-index: 4; width: 100%; }