.tabs {
	margin: 50px;
}

.tab-button-outer {
	display: flex;
	justify-content: center;
}

.tab-button {
	background-color: #ccc;
	padding: 10px 20px;
	cursor: pointer;
}

.tab-button:hover {
	background-color: #ddd;
}

.tab-button.active {
	background-color: #bbb;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.carousel {
	width: 300px;
	margin: 50px auto;
}

.carousel .swiper-slide img {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.popup{position:absolute; display:block; background:white; z-index: 10;}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
}

.swiper-pagination-bullet-active {
  background: #333;
}