:root {
	--light_shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	--dark_shadow : rgba(255, 255, 255, 0.16) 0px 1px 4px;
}

.notion-text.notion-text__content.notion-semantic-string:not(blockquote .notion-text.notion-text__content.notion-semantic-string, .notion-column-list .notion-text.notion-text__content.notion-semantic-string, .notion-callout .notion-text.notion-text__content.notion-semantic-string) {
	padding-top: 1rem;

	&+& {
		padding-top: 4px;
	}
}

blockquote .notion-text.notion-text__content.notion-semantic-string,
.notion-column-list .notion-text.notion-text__content.notion-semantic-string,
.notion-callout .notion-text.notion-text__content.notion-semantic-string {
	padding-top: initial;

	&+& {
		padding-top: initial !important;
	}
}

.theme-light {
	.notion-image.align-start {
		box-shadow: var(--light_shadow);
	}
}

.theme-dark {
	.notion-image.align-start {
		box-shadow: var(--dark_shadow);
	}
	pre code:not([class="*"]){
		color:#f7f7f7;
	}
}