html {
	scroll-behavior: smooth;
}
.coala-toc-added {
	#toc {
		max-width: 20vw;
		position: fixed;
		top: 1vw;
		right: 1vw;
		z-index: 999999999999;
		background-color: rgba(225, 225, 225, 0.27);
		padding: 1vw;
		display: flex;
		border-radius: 16px;

		flex-direction: column;
		> * {
			display: flex;
			flex-direction: column;
		}
		h1 {
			margin-left: 0;
		}
		h2 {
			margin-left: 16px;
		}
		h3 {
			margin-left: 32px;
		}
		a {
			word-break: auto-phrase;
			word-wrap: break-word;
			text-decoration: none;
			line-height: 1.8;
			z-index: 9999999999999999999999;
			font-size: 16px;
			letter-spacing: -0.5px;
			font-weight: 400;
			color: #13636c;
		}
	}
}
.coala-toc-target {
	animation: target 1s cubic-bezier(1, 0.35, 0, 0.67);
}
@keyframes target {
	0% {
		background: rgba(0, 196, 218, 0);
	}
	80% {
		background: rgba(0, 196, 218, 0.4);
	}
	100% {
		background: rgba(0, 196, 218, 0);
	}
}
