@import url(https://qwerewqwerew.github.io/source/style/reset.css);
.w100 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
nav {
  position: fixed;
  display: flex;
  z-index: 9999;
}
nav a {
  padding: 1rem 2rem;
}
main {
  width: 500%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  color: #333;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f00;
}
