
section p{font-size: 3rem;}

.cursor {
	position: fixed;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #131313;
	z-index: 999999999999;
	background-color: rgba(255, 255, 255, 0.1);
	user-select: none;
	pointer-events: none;
	transition: background-color 0.2s, border-color 0.2s, border-radius 0.2s, transform 0.6s;
	cursor:none;
}
.cursor.style1 {
	background-color: rgba(255, 165, 0, 0.4);
	border-color: orange;
}
.cursor.style2 {
	background-color: rgb(140, 0, 255, 0.4);
	border-color: rgb(140, 0, 255);
	transform: rotateY(720deg) scale(2);
}
.cursor.style3 {
	background-color: rgb(0, 47, 255, 0.4);
	border-color: rgb(0, 47, 255);
	transform: scale(1.5) rotate(45deg);
	border-radius: 10px;
}
.cursor.style4 {
	background-color: rgb(121, 235, 197, 0.4);
	border-color: rgb(121, 235, 197);
	transform: scale(10) rotateY(360deg);
}
.cursor.style5 {
	background-color: rgb(255, 0, 85, 0.4);
	border-color: rgb(255, 0, 85);
	transform: rotateY(720deg) scale(0.1);
}
.cursor.style6 {
	background-color: rgb(255, 81, 0, 0.4);
	border-color: rgb(255, 81, 0);
	transform: scale(1.5) rotate(-720deg);
	border-radius: 0;
}