.box {
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	opacity: 0;
}
.orange {
	top: 100px;
	left: 100px;
	background-color: orange;
}
.grey {
	top: 300px;
	left: 100px;
	background-color: gray;
}
.green {
	top: 500px;
	left: 100px;
	background-color: green;
}
