			body {
				background-color: lightyellow;
				transition: all 1s;
			}
			.bgcolor--blue {
				background-color: lightblue;
			}
			.bgcolor--gray {
				background-color: lightgray;
			}

			.bg_img {
				margin: 0;
				position: absolute;
				width: 100vw;
				height: 100vh;
				background: url('bg.png');
				transition: all 1s;
				opacity: 0;
			}
			.bg_img--show {
				opacity: 1;
			}
			/* modify */
			.btns_menu {
				display: flex;
			}
			button {
				background-color: #9ad7d9;
				border: transparent;
				padding: 1rem;
				display: block;
				cursor: pointer;
			}
			.btns {
				position: fixed;
				width: 100%;
				margin: auto;
				z-index: 10;
			}
			.btns .container {
				position: relative;
				max-width: 900px;
				padding: 20px;
				background-color: transparent;
				transition: 0.3s;
				margin: auto;
				display: flex;
				justify-content: center;
				border-radius: 0 0 10px 10px;
			}
			.btns .container.bgshow {
				padding: 20px;
				background-color: #9ad7d9;
			}
			section {
				padding-top: 100px;
				height: 100vh;
			}
			section h2 {
				color: #9ad7d9;
				font-size: 5rem;
				text-align: center;
			}
			section p {
				width: clamp(30%, 50%, 50%);
				font-size: 1.4rem;
				margin: auto;
				line-height: 1.75;
			}