/* common */
html {width: 100%;height: 100%;overflow-y: scroll; }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {margin: 0px;padding: 0px;font: inherit;vertical-align: baseline; }
body {font-size: 12px;font-family: Dotum, Arial;color: #74767a;line-height: 120%; }
a,
a:link,
a:visited {color: #74767a;text-decoration: none; }
ul,
ol {list-style: none; }
table,
fieldset,
th,
td,
img {border: none; }
img,
input,
select {vertical-align: middle; }


#brandVisual ul { overflow: hidden;position: relative;width: 100%;height: 500px;display: flex; }
#brandVisual ul li {position: absolute;width: 100%;height: 100%; }
#brandVisual ul li a {display: block;text-indent: -9999px; } /* 글씨 제거 */

/* visual_0, visual_1, visual_2 위치정렬 */
#brandVisual .visual_0 {left: 0;background: url(img/0.png) 50% 0 no-repeat; }
#brandVisual .visual_1 {left: 100%;background: url(img/1.png) 50% 0 no-repeat; }
#brandVisual .visual_2 {left: 200%;background: url(img/2.png) 50% 0 no-repeat; }

/* 화살표 */
.btnImg {position: relative;top: -250px;width: 100%; }
.btnImg .prev {position: absolute;left: 100px; }
.btnImg .next {position: absolute;right: 100px; }

/* 버튼 위치 지정 */
#buttonList {display: flex; }
#buttonList li {background: url(img/btnVisual.png) 0 -16px no-repeat;width: 14px;height: 15px;position: relative;left: 50%;top: -135px;overflow: hidden;margin: 0 5px;cursor: pointer; }
#buttonList li a {display: block;text-indent: -9999px; } /* 글씨 제거 */
#buttonList li.on {background-position: 0 0; } /* 활성화된 버튼 */
