body {
  font-family: system-ui;
  color: white;
  text-align: center;
  margin: 0px;
}
.label {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translatex(-50%);
  top: 0px;
}
.pinned {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pinned, .my-headline {
  width: 100%;
}
.my-headline {
  font-size: 27px;
}
.my-line span {
  transform: translatey(100%);
  display: block;
}
.my-line {
  overflow: hidden;
}
.trigger {
  height: 1000px;
  width: 100%;
  background: grey;
}