.circular-pbar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(darkred 33%, black 33%);
  position: relative;
}
.circular-pbar {
  --p: 0;
  background: conic-gradient(grey var(--p, 0), #cacaca var(--p, 0))
}
.circular-pbar:after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circular-pbar-counter {
  position: absolute;
  z-index: 2;
  font-size: 3em;
  color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}